{% extends 'index.html' %}

{% block midcontent %}
 <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Hi {{user.username}}</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url "home" %}">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>



<!-- 
================================================== 
    Contact Section Start
==================================================-->
{% if status == 1 %} 
<marquee style="color:red; font-size:20px;font-family:sans-serif;margin-top:30px;">Your account balance is low, Please Recharge!</marquee>
{% endif %}

<section id="contact-section" >
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <!--<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Hi {{user.username}}</h2>-->
                  <center>  <div class="dashboard">
                            Requests received:<br><hr>
                            {% for seat in seats %}
                            <form method="POST">    
                                Request by : {{seat.request_from}}<br><br>
                                Requested on : {{seat.seat.date}}<br><br>
                                Seat number : {{seat.seat.seat_no}}<br><br>
                                <input type="hidden" value={{seat.seat.id}} name="seatid">
                                <input type="hidden" value={{seat.request_from}} name="userid">
                                <input type="submit" value="Approve">
                            </form>
                            {% endfor %}
                    </div></center>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}