
{% extends 'index.html' %}
{% load static %}

{% block precontent %}
    <link rel="stylesheet" href="{% static 'css/coffee.css' %}">
{% endblock %}

{% block midcontent %}

<div class="main">
  <div class="coffee-cup"> 
    
    <div class="cup">
    </div>
    <div class="coffee">
    </div>
    <div class="heart">
    </div>
    
    <div class="saucer">
    </div>
</div>
<center><div id="coffeetext" class="center">
    
  <h1> Your 
    {% if free %}
    Free
    {% else %}
    Paid
    {% endif %}
    coffee token id is :<br><br>
   <kbd>{{token}} </kbd></h1>
 <h1> Go grab your coffee </h1>
 </div>
  <h1 style="margin-left:200px;">Your Pending Amount for Previous Coffees: {{amount_due}} </h1>
  </div></center>
 
<br>
 {% endblock %}