{% extends 'index.html' %}

{% block midcontent %}
 <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>SIGN IN</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url "home" %}">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Signin</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!-- 
================================================== 
    Contact Section Start
================================================== -->
<section id="contact-section">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Signin now</h2>
                    <div class="contact-form">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                                <input type="text" placeholder="Username" class="form-control" name="username" id="name">
                            </div>
                            
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                                <input type="password" placeholder="Password" class="form-control" name="password" id="name">
                            </div>

                            <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                                <input type="submit" value="Login" class="btn btn-success form-control">
                            </div>
                            {% if form.errors %}
                                {% for error in form.errors %}
                                    {{error}}
                                {% endfor %}
                            {% endif %}
                                                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

{% endblock %}