{% extends 'index.html' %}

{% block midcontent %}
 <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>VERIFY COFFEE</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url "home" %}">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Verify Coffee</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!-- 
================================================== 
    Contact Section Start
================================================== -->
<section id="contact-section">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    {% if sent == 2 %}
                        {% if token %}
                            <div class="well center">Success</div>
                        {% else %}
                            <div class="well center">Failed</div>
                        {% endif %}
                    {% endif %}
                    <center><h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Verify now</h2></center>
                    <div class="contact-form">    
                            <form method="POST">
                              <input type="text" name="token" class="form-control" /><br>
                              <input type="submit" value="Verify Token" style="border-radius:5px; background-color:#02bdd5;font-weight:bold" class="form-control btn btn-default" id="registerbtn">
                          </form>
                         </div>
                </div>
            </div>
        </div>
    </div>
</section> 

{% endblock %}